.letter, .letterpart {
    transform-style: preserve-3d;
    display: inline-block;
    --size: 3rem;
    height: var(--size);
    line-height: var(--size);
    width: calc(var(--size) / 1.5);
    font-size: var(--size);
    backface-visibility: hidden;
    background: black;
}

.letter {
    perspective-origin: center;
    perspective: 12in;
}

.letter * {
    perspective: 12in;
}

#splitflap {
    display: flex;
    flex-wrap: wrap;
    font-family: "JetBrains Mono", "Atkinson Hyperlegible", sans-serif;
    font-weight: bold;
    background: black;
}

.letterpart {
    position: absolute;
}

.letter1top, .letter2top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

.letter1bottom, .letter2bottom {
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

.letter1bottom, .letter2top {
    z-index: 1;
}

.letter2bottom, .letter1top {
    z-index: 2;
    animation-fill-mode: forwards;
    animation-duration: .1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes l1t {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(-180deg);
    }
}

@keyframes l2b {
    0% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0);
    }
}

.letter1top {
    transform: rotateX(-180deg);
}

.letter2bottom.animate {
    animation-name: l2b;
}

.letter1top.animate {
    animation-name: l1t;
}
